/* ===========================================
   FONT FACE DECLARATIONS - All Weights
   =========================================== */

/* Vendya Font (for titles) */
@font-face {
  font-family: 'Vendya';
  src: url('/fonts/Vendya.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vendya';
  src: url('/fonts/Vendya-Bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Autography Font (for signature/catchline) */
@font-face {
  font-family: 'Autography';
  src: url('/fonts/Autography.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Quicksand Font - All Weights */
@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/Quicksand/Quicksand-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/Quicksand/Quicksand-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/Quicksand/Quicksand-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/Quicksand/Quicksand-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/Quicksand/Quicksand-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ===========================================
   CSS VARIABLES (Global)
   =========================================== */
:root {
  /* Font Variables */
  --font-title: 'Vendya', serif;
  --font-signature: 'Autography', cursive;
  --font-body: 'Quicksand', sans-serif;
}

